*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --terra-cota: #c05a3d;
    --verde-folha: #4f7b4a;
    --marrom-escuro: #5a3b28;
    --azul-pavao: #255c74;
    --vermelho-vivo: #b23535;
    --areia-clara: #efe7dc;
    --transicao-botao: #108cde;
    --bege: #f9f4ee;
}

header{
    background-color: var(--terra-cota);
    color: var(--areia-clara);
    font-family:"Elms Sans", sans-serif;
    padding: 2rem;
    text-align: center;
}

body{
    background-color: var(--areia-clara);
    color: var(--marrom-escuro);
    font-family: "Elms Sans", sans-serif;;
    font-weight: 400;
}

header:p{
    font-size: 10px;
    margin-top: 0;
}
.navegacao{
    background-color: var(--verde-folha);
    padding:0;
    list-style: none;
}

.botao li button { 
    background-color: var(--verde-folha);
    color: var(--areia-clara);           
    font-family: "Elms Sans", sans-serif; 
    font-size: 30px;                     
    padding: 10px 15px;                 
    border: none;                        
    cursor: pointer;                    
    border-radius: 5px;                 
    transition: background-color 0.3s;  
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 20px;
    text-decoration: none;
    color: var(--areia-clara);
    }

img{
    width: 450px;
    padding: 0;
    margin-bottom: 0rem;
}

/*CORPO PRINCIPAL*/
.cadastro-container h2{ 
    padding:2rem;
    background: var(--verde-folha);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-transform: uppercase; 
    color: var(--areia-clara); }
    
.cadastro-container h4{ 
    text-align: center; 
    font-size: 20px; 
    padding: 2rem; }
/* --- SEÇÕES OCUPANDO 3/4 DA TELA --- */
.secao {
    width: 75%; 
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 20px;
    border: 2px solid var(--azul-pavao);
    background-color:var(--bege);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* --- INPUTS AJUSTADOS À LARGURA INTERNA --- */
.secao input[type="text"],
.secao input[type="email"],
.secao input[type="password"],
.secao input[type="date"] {
    width: 25%;
    padding: 0.7rem;
    border-radius: 5px;
    background-color: var(--bege);
    border: 1px solid #c8c8c8;
    font-family: "Elms Sans", sans-serif;
}

.secao input[type="date"] {
    width: auto;
    min-width: 140px;
}

#data {
    width: fit-content;
    min-width: 140px;
}

#cpf {
    width: 25ch;
}

#cep {
    width: 25ch;
}

#estado {
    width: 25ch;
    text-transform: uppercase;
}

#numero {
    width: 25ch;
}

#nome,
#sobrenome{
    width: fit-content;
    min-width: 55ch;
}

#logradouro{
    width: 60%;
}
#cidade,#bairro, #telefone{
    width: 35% !important;
}
#telefone{
    width: 25%;
}
#email{
    width: 40%;
}

#usuario, #senha, #confirmar{
    width: 50%;
}

/* --- BOTÃO --- */

.bt-enviar {
    
    margin: 2rem auto;
    padding: 2rem;
    margin-left: 33%;
    width: 40%;
    padding: 0.8rem;
    border-radius: 25px;
    border: 2px solid var(--azul-pavao); 
    background: var(--azul-pavao); 
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.bt-enviar:hover {
    background:var(--areia-clara); 
    color: var(--azul-pavao); 
}

footer {
    font-size: 20px;
    background: linear-gradient(
        to bottom,
        #efe7dc 0%,
        #f0d4c9 20%,
        #e8b39f 40%,
        #d98c72 60%,
        #c96a4e 80%,
        #c05a3d 100%
    );
    color: var(--azul-pavao);
    text-align: center;
    padding: 5rem;
    font-family: "Elms Sans", sans-serif;
}
